* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

:root {
    --main-color: #0582ca;
    --lighe-blue: #00a6fb;
    --medium-blue: #006494;
    --dark-blue: #003554;
    --darkness-blue: #051923;
    --white: #fff;
}

.container {
    width: 80%;
    margin: 50px auto;
}

/********** HEADER **********/
body {
    position: relative;
}
.header {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #006494;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 1000;
}

.header_top {
    display: flex;
    justify-content: space-between;
}

.banner {
    margin-top: 100px;
    position: relative;
    z-index: -1;
}

.banner img {
    display: flex;
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

.header .title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 5px;
    margin-right: 50px;
    color: var(--white);
}

.admin {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.admin .login_btn {
    background-color: white;
    padding: 8px 30px;
    border-radius: 10px;
    color: #00a6fb;
    cursor: pointer;
}

/********** MENU **********/

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav span {
    margin-right: 10px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item_menu a,
.item_menu {
    color: #a4a4a4;
    position: relative;
    cursor: pointer;
}

.item_menu a:hover::before,
.item_menu:hover::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #a4a4a4;
    width: 100%;
    bottom: -5px;
}

/********** MAIN **********/

.container h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--darkness-blue);
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.product_container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

.product_card {
    width: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px;
    position: relative;
}

.product_card_img {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
}

.product_card_img img {
    width: 100%;
}

.product_card_info {
    display: flex;
    height: 100px;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    flex-grow: 1;
}

.product_card_title,
.product_card_price {
    font-size: 1.2rem;
    font-weight: lighter;
}

.agregar-carro-box {
    position: relative;
}

.btn-agregar-carro {
    background-color: var(--white);
    padding: 12px;
    width: 100%;
    text-align: center;
    display: block;
    align-self: flex-end;
    justify-content: center;
    color: var(--dark-blue);
    border-radius: 30px;
    margin-top: auto;
    cursor: pointer;
}

.on_cart_icon {
    position: absolute;
    display: none;
    color: var(--darkness-blue);
    right: 35%;
    top: 25%;
    cursor: pointer;
}

.btn-agregar-carro:hover ~ .on_cart_icon {
    color: white;
}

.product_card.on_cart .on_cart_icon {
    display: block;
}

.btn-agregar-carro:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: all 0.2s ease;
}

/********** CARRITO **********/

#carrito_container {
    width: 60%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
}

.carrito a {
    background-color: white;
    padding: 8px 30px;
    border-radius: 10px;
    color: #00a6fb;
    cursor: pointer;
}

.carrito_item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.eliminar_producto {
    border: none;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.eliminar_producto:hover {
    border-color: red;
    background-color: red;
    color: white;
    transition: all 0.2s ease;
}

.item_box {
    display: flex;
    flex: 1;
    align-items: center;
}

.item_box:nth-last-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_box img {
    width: 10%;
    margin-right: 5px;
}

.modificar_cantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.cantidad {
    width: 40px;
    text-align: center;
}

#restar_cantidad,
#sumar_cantidad {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.enable {
    color: lightgrey;
}

.vaciar_carrito {
    background-color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: none;
}

.vaciar_carrito:hover {
    color: lightgrey;
}

/********* FORMULARIO ***********/

.formularios {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: -1;
}

.mostrar {
    transition: opacity 0.5s ease;
    opacity: 1;
    z-index: 1000;
    position: fixed;
}

.signup_form {
    display: none;
}

.formularios.active .signup_form {
    display: block;
}

.formularios.active .login_form {
    display: none;
}

.form_login_container {
    position: absolute;
    max-width: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 0px 100px 1000px rgba(0, 0, 0, 0.5);
    /* display: none; */
}

.form_close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
}

.form_login_container h2 {
    text-align: center;
    font-size: 1.5rem;
}

.input_box {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.input_box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus {
    border-color: var(--medium-blue);
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: var(--medium-blue);
}

.input_box i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaaaaa;
}

.input_box i.email,
.input_box i.password {
    left: 0;
}

.form_login_container a {
    color: #006494;
}

.form_login_container a:hover {
    text-decoration: underline;
}

.opciones {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    display: flex;
    white-space: nowrap;
    column-gap: 5px;
    align-items: center;
}

.checkbox input {
    accent-color: var(--main-color);
}

.checkbox label,
.checkbox input {
    cursor: pointer;
}

.form button {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #006494;
    color: white;
    margin: 15px 0;
    cursor: pointer;
}

.form button:hover {
    background-color: #003554;
    transition: all 0.3s ease;
}

.iniciar_secion {
    text-align: center;
}

/********* SEARCH INPUT ***********/

.input_box_search {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.input_box_search .input_search {
    border: 1px #aaaaaa solid;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    outline: none;
}
.input_box_search .input_search:focus {
    border-color: var(--main-color);
}

.input_box_search .input_search:focus ~ i.search {
    color: var(--main-color);
}

.input_box_search i.search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaaaaa;
}
